.heading {
  display: flex;
  justify-content: center;
}

.head {
  margin-top: 20px;
  font-size: 3rem;
  color: black;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px yellowgreen, 0 0 20px yellowgreen,
      0 0 30px yellowgreen; /* Initial glow effect */
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.2rem;
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 4px;
}

input {
  background-color: white;
  padding: 7px;
  border-color: black;
}

button {
  background-color: white;
  border-color: black;
}

label {
  padding: 7px;
  color: white;
  background-color: black;
}

.card {
  margin-top: 20px;
}

.card-body {
  min-width: 200px;
}

span {
  font-size: 2rem;
}

.current-weather {
  font-size: 5rem;
}

.card-title {
  font-size: 1.6rem;
}

.card-text-group {
  font-size: 4rem;
}
